/* section - 8 book-food */
.book-food{
    width: 100%;
    background: url(../images/bg/bg3.jpg) no-repeat center,rgba(0,0,0,0.6);
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    padding: 4.375rem 0;
}