/* section-10 footer */

.footer{
    background: $primary-color;

    .footer-link{
        font-size: 1rem;
        color: $white-color;
        padding: 0 1.875rem;
    }

    a i{
        font-size: 1.5rem;
        color: $white-color;
        padding: 0 1rem;
    }
}