/* section-1 top-banner */
.top-banner{
    width: 100%;
    background: url(../images/bg/bg1.jpg) no-repeat center, rgba(0,0,0,0.6);
    background-blend-mode: overlay;
    background-size: cover;
    padding: 16.875rem 0 9.375rem;
}


