/* section-9 newslettar */
.newslatter{
    width: 55%;
    margin: 0 auto;

    .form-control{
        height: 3.225rem;
        padding: 0 1.25rem;
        font-size: 0.875rem;
        width: 100%;
        border: none;
        border-radius: 0;
        background: transparent;
        border: 0.1875rem solid $text-color;
        color: $black-color;
        font-weight: 700;

        &:focus,&:hover{
            box-shadow: none;
            outline: none;
            border-color: $primary-color;
        }
    }
}
