@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$primary-color : #a82c48;
$secondry-color : #43121d;
$third-color : #f98169;
$white-color :#ffffff;
$text-color : #555;
$black-color : #000;
$primary-font : 'Roboto', sans-serif;
$secondry-font : 'Quicksand', sans-serif;


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:active,
:hover,
:focus{
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover{
    text-decoration: none;
}

a:hover{
    color: $primary-color;
}

ul,
ol{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: $primary-font;
    font-size: 100%;
    font-weight: 400;
}

/* custom scrollbar */

::-webkit-scrollbar{
    width: 0.625rem;
}
::-webkit-scrollbar-track{
    background: $white-color;
}
::-webkit-scrollbar-thumb{
    background-color: $primary-color;
}

/* custom css design */
h1{
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 3rem;
    color: $secondry-color;
}
h2{
    font-size: 2.25rem;
    font-weight: 700;
    color: $secondry-color;
    text-transform: capitalize;
    line-height: 3rem;
    font-family: $secondry-font;
}
h4{
    font-size: 1.125rem;
    font-weight: 800;
    color: $secondry-color;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
    font-family: $secondry-font;
}
h5{
    font-size: 1rem;
    font-weight: 700;
    color: $primary-color;
    font-family: $secondry-font;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
}
p{
    font-size: 1rem;
    color: $text-color;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 1px;
}

.main-btn{
    display: inline-block;
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: $primary-color;
    border: 0.1875rem solid $primary-color;
    color: $white-color;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0 2px 10px -1px rgb(0 0 0 / 19%);
    transition: all 0.4 ease-out 0s;
}
.white-btn{
    padding: 0.625rem 1.875rem;
    line-height: 1.5625rem;
    background-color: $white-color;
    border: 0.1875rem solid $white-color;
    color: $text-color;
    font-size: 0.9375rem;
    font-weight: 600;
    text-transform: capitalize;
    box-shadow: 0 2px 10px -1px rgb(0 0 0 / 19%);
    transition: all 0.4s ease-out 0s;
}
.main-btn:hover{
    background-color: transparent;
    color: $primary-color;
}
.white-btn:hover{
    background-color: transparent;
    color: $primary-color;
    border-color: $primary-color;
}
.wrapper{
    padding-top: 8.25rem;
    padding-bottom: 8.25rem;
}
.text-content{
    width: 70%;
    margin: auto;
}
.counter-section h2,
.texttimonial-section h2,
.book-food-text h2{
    color: $white-color;
}




@import "header.scss";   /* header */
@import "section1.scss"; /* top-banner */
@import "section2.scss"; /* counter */
@import "section3.scss"; /* about */
@import "section4.scss"; /* story */
@import "section5.scss"; /* explore food */
@import "section6.scss"; /* reviews*/
@import "section7.scss"; /* faq */
@import "section8.scss"; /* book-food */
@import "section9.scss"; /* newslettar */
@import "section10.scss"; /* footer */
@import "responsive.scss"; /* responsive */